<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="c:\data\TournamentTracker"/>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="email@email.com"/>
		<add key="senderDisplayName" value="First Last"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=COMPUTER-NAME;Database=Tournaments;Trusted_Connection=True;" providerName="System.Connection.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="USER" password="1234" port="25" enableSsl="false"/>
			</smtp> 
		</mailSettings>
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>